<footer>
  <script>
    const PGPKey = `-----BEGIN PGP PUBLIC KEY BLOCK-----

xsFNBF+1MikBEAC1DMB2TcYNIWR/23Vrwk6QzXeQTtuQ8zSz2t/XUjED1eM3ugqfGc1o0n6F0kFM
6y8tZJ0IvNviBTe9802Vlk9FoIEM53s+P0W56Ql0Js/3hAOp2TaactBsaAmOBbrOBdSTMYnil+rm
suL8LXqCA+Xq0zzdiSDkPSO96J8+ISmtkgHqWwLGmVM8KIN3CsGLGVTwdhZ4skFpvfEem1Jdkoga
t+XJIL+4rVq2w+v4GQP7VzUJigLV9zm/Uz2cI5ubq0qMQ7XazrfPVTFqf70Evtwgs6cycwuUc1jv
QHvrl3qppKkbhuIB2HAY1MT7yKvpogT+BOv+EmhVIuSOQ1vd+1yLRCyf9GRfS8MwelFkvhiCv6gh
uJJJ5TfZyxLWJ9KISjLLUFXvCczAVKljG6i2kn8BwTb+PZaI241V8YTdDK8T7OdKOXA3nusrdzT0
f8pIeLrpEuMexqjYA72PCMeJB3BeI593Q3w6krmfRjcw3aSG5IEeWpqJ1pX0VINYdQRcVt88D2Qi
/Lb6sgHfkXg5AR8e5mqL6VxdHEKo3ElGlaeXLoAJRpb6GaZ7OVSWjDC+epqFA6CtP0lLFG8RO3YY
aZjbkaJZD++4cXRQ260qsgOTrQZ/8pZX8lf1u7uZS0fPQ8qs1Ra8Oq/6N7//Oe2ch0KFq5FWH5k1
WDmibxGK/pfXFQARAQABzSJTZWFuIEV1bGVuYmVyZyA8c2VhbkBldWxlbmJlcmcuZGU+wsGUBBMB
CAA+FiEEBHFpcvQDj5/iWRxbtOhkcjNuUXkFAl+1MikCGwMFCQHhM4AFCwkIBwIGFQoJCAsCBBYC
AwECHgECF4AACgkQtOhkcjNuUXkj9w/+NY/aKorQ/o5ugaENlSP47i6w6ygGiAiQJGOpbpXVjJvl
0P2Ohknq0dSUtbjX0JkbfvF+lo2oUnWW0oF3eJobT4ixkuVMJ3GTyjIViLwS92lVc9JyqPql33G5
4euSpB/OiqnmkqAEIRHdsIqXqqn7JD7VZT3KUame5z+JW8TaYBAzaRcrNDZdchd2uno8dlRiN4td
GoE2eUMTHKfg14UbNh3Iy5letXqEPalNG5+MAUwUYPNljWQpijK3WL4MLVGEO8PEjlug1miX2CJR
1aWS52htIptoPN6bU/SYw65w2yNY17QP3nPwejZnGNKx091Eq+egGTf6w50E5rG6yr1Q6Gsm2WeA
COiM2MKjD8zKwRUQqzHaPMj/kOhFsLWipH26Wdu9OFs7CeIJ/prNzwvGq3EBpvX1TgPcTD8xebW2
X+LoD2RvjiIe6ruJj5m6vuEIal34paWL35oXKHqmljz4FFIBSG/cIeIxacvV+ZamwsXP8qFqv0OW
1MGNGnioMZyO0HRpVJ1S1VKf7ffEsOns2rmoZ4g6VgzXweyokM1ZHXBuZGnMgIdT6KQx9zbRrcAz
5dWmh3KG/gw8lv3dTDj7pNm1bMPjqVMQB5JcYXXwYeI5354v25vaYCwmcAXcQGWO71/ssSDeoK0U
3Md31wV4O9IXQIq3bDtNrXf1msDtrSfOwU0EX7UyKQEQAOn3DOfpIed1xTI2rCzKp+4GplllwczF
kMz0bV8ZQTCBItGohBkZx2JAErHMbM8EoRx9TEATjc/g9JC1dFSkRyWimWPUGVADSjq01k7Y9DVY
2gqx3YnjPfAiV94PiPs2596FK6itfvWVPOgAA7M5B2CID2tFyO/SQGiCerK9oy4yQmzWlspJRnVl
ZG+ziaUEfdgSMfyT+kTP0hJNPUeGli9a8c4VVwwmIn4vZqt6hDnM9z5NvtEaMzjOCpjfM4INj2m0
lR1AWEytkDNM24bYdEypZcUgaF4lX71jLGsAJajiR7w3v1yjpAP3Vm/Gxr6tb3tHVjiY0NlVAwRU
kWv+tyQCx1GmI2HlknOorMnuhT3PStLgFzHqe+R+gm/3Z3B0bGGU/HlxYb20TlsQNztqF1HFv+Y2
jai2EPHGA8Ab65iAYKAJgK//x6xZYrXPceUVcmyRrtoasguFPh0HB3BfSYKbyZiuxvfuqBiyKv5L
IjuM2DBQREBCpE3CUJfRLFu8jZPQ2FXBRj2JcCZ3XZokvdOX+bnn4+jVRISRBnKsHoT2zJnQ22vf
e7kEvrS6Kkwnlzs/plBVw24lIU/6s4dxo16cET0fKERGmp65VlBzOEOv2dpc6iKQHM6yz2M+F/G5
iMdR5Nz4pXR+WoO9i8jP63QlHXd7iOvDZri7fUCrdFrbABEBAAHCwXwEGAEIACYWIQQEcWly9AOP
n+JZHFu06GRyM25ReQUCX7UyKQIbDAUJAeEzgAAKCRC06GRyM25ReVWxD/4ijEw20RDqwAhWbkV9
cggTOjxPDaypDZIQI+NAKFVvKfyB6ZxUyXgCNMRh6HKezQ3UTjqSrrduvISq+1Aky6wZfxJCM3jn
Or2jeTCTcTOTJva0xGV6hTZMGZSQw6sn2zlooBaU10MEyhfRUfvrk7UhYsPMoAKrZxl5Q4+/Ec+l
2LuQIzTIdEX7WHBxCdwu5exAd/IPeTsD8macV8HMbVftFlb+oRLJQV2K7Mn7oSjYsbaPLhH4Cs3g
UgwrBpzQ6cMODn8g5NVj5DmFVhHIbq0xiETzVtFHrcjnZeAYfMh0quSB8+DxtPC6YToLezgWi/Dh
BRMeCei/CvlcxEK/irQEnrHIX2e5u26u8JTWexTxaHim8Yf3swtCAxo/MaTtiM6atxxoCqxSFCG7
lw6jv7XzTYcZSuppO3M7nbukx7lgKCfI+RQ/f2O+r+vOvp7g0n6i3Q8EkFXwqO8QM9BJN5YRE8DN
ztbgYeLoFc7miyNg8KD3FqN7NUE9YXRm9Kpc7CFPC6Dg6c+FjHYbbmA4lah7OKffVXb/NT0Xbqlf
6sYUIdCImjgT8JUoQLzw4XerNZnTIMKc6SCuLwvaJ0w/xn+uKkDyw2u6NYDtO8EoQ3wHJUOTj++Y
FgTJ3dNSL3iLQS10XlzxVE2oOIm84M16mDNcIYJlLdM18V0a4Wnz8DmAXQ==
=vFNH
-----END PGP PUBLIC KEY BLOCK-----
`;
    function copyURI(event) {
      event.preventDefault();
      navigator.clipboard.writeText(PGPKey).then(
        () => {
          /* clipboard successfully set */
          alert("Key copied to clipboard!");
        },
        () => {
          /* clipboard write failed */
          alert("Error copying key to clipboard");
        }
      );
    }
  </script>
  <div
    style="
      flex-wrap: wrap;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    "
  >
    <div style="flex-basis: 33.333%">
      <ul class="cleanUL">
        <li class="cleanULItem">Sean Eulenberg</li>
        <li class="cleanULItem">
          <a href="mailto:sean@eulenberg.de">sean@eulenberg.de</a>
        </li>
        <li class="cleanULItem">
          <a href="" onclick="copyURI(event)">PGP key (clipboard)</a>
        </li>
      </ul>
    </div>
    <div style="flex-basis: 33.333%">
      <ul class="cleanUL">
        <li style="text-align: center" class="cleanULItem">
          <a href="https://github.com/seandlg"
            ><svg class="svg-icon">
              <use xlink:href="/minima-social-icons.svg#github"></use></svg
            >seandlg</a
          >
        </li>
        <li style="text-align: center" class="cleanULItem">
          <a href="https://www.twitter.com/Spirit2052"
            ><svg class="svg-icon">
              <use xlink:href="/minima-social-icons.svg#twitter"></use></svg
            >Spirit2052</a
          >
        </li>
      </ul>
    </div>
    <div style="flex-basis: 33.333%">
      <p>
        A collection of the projects and thoughts that keep me up at night.
        Hugo-powered.
      </p>
    </div>
  </div>
  <div>
    <li style="list-style-type: none">
      <a href="/privacy-policy">Privacy Policy</a>
    </li>
  </div>
</footer>
